.navbar {
	z-index: 100000;
	/*add this line if you use 100% menu width, usually not needed*/
	/*max-width: 100% !important;*/
	text-transform:uppercase;
	font-weight:bold;
	-webkit-transition: 0.2s;
	-moz-transition: 0.2s;
	-o-transition: 0.2s;
	transition: 0.2s;
}
.myfixed {
	position: fixed;
	top: 0;
	-ms-filter:"progid:DXImageTransform.Microsoft.Alpha(Opacity=95)";
	filter: alpha(opacity=95);
	opacity:.95;
	background-color: #C94812 !important;
}
.nav-menu li a:hover {
	background-color: #111 !important;
	-webkit-transition: 0.6s;
	-moz-transition: 0.6s;
	-o-transition: 0.6s;
	transition: 0.6s;
}
.nav-menu .current_page_item > a,
.nav-menu .current_page_ancestor > a,
.nav-menu .current-menu-item > a,
.nav-menu .current-menu-ancestor > a {
	color: #fff !important;
	font-style: normal !important;
	background-color:#111 !important;
}
#wpadminbar {
	position: absolute !important;
	top: 0px !important;
}